@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Montserrat:wght@100&family=Roboto:wght@300;700;900&display=swap");

$font-titulo-900: "Roboto", sans-serif;
$font-nombre-700: "Roboto", sans-serif;
$font-preview-300: "Manrope", sans-serif;
$font-textMensaje-200: "Manrope", sans-serif;
$font-hora-100: "Montserrat", sans-serif;
