@use "../abstracts/colors" as color;
@use "../abstracts/mixins" as mixins;
@use "../base/typografy" as font;

.header {
	background: color.$primary-500;
	color: white;
	@include mixins.flex(row, center, center);
	padding: 1em 2em;
	& > i,
	& > h2 {
		margin-right: auto;
	}
	& > h2 {
		font-family: font.$font-titulo-900;
		font-size: 2.5rem;
		transition: transform 300ms ease-in;
		&:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
	}
	& > i {
		font-size: 2rem;
		transition: transform 800ms ease;
		&:hover {
			cursor: pointer;
			transform: rotate(-180deg) scale(1.5);
		}
	}
}
