@use "../abstracts/colors" as color;
@use "../abstracts/mixins" as mixins;
@use "../base/typografy" as font;
@use "../componets/messsageEmisor";
@use "../componets/messaggeRecepetor";

.container-messagges {
	margin-left: auto;
	width: 75%;
	position: fixed;
	height: 90vh;
	right: 0;
	// border: 1px solid white;
	display: flex;
	flex-direction: column;

	background-image: url("https://images.unsplash.com/photo-1543872084-c7bd3822856f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
	background-size: cover;

	& > .contact {
		background: black;
		color: white;
		font-family: font.$font-nombre-700;
		font-weight: 700;
		padding: 0.9em 1em;
		font-size: 1.3rem;
	}
	& > .conversation {
		width: 100%;
		height: 75vh;
		// border: 1px solid greenyellow;
		overflow: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 1.3rem;

		@extend .messaggeRecepetor;
		@extend .messaggeEmisor;
	}
	& > .input-messagge {
		margin-top: auto;
		// border: 1px solid blueviolet;
		width: 100%;
		height: 7vh;
		position: relative;
		background: color.$primary-hora;
		& > input {
			width: 100%;
			height: 7vh;
			line-height: 2.5vh;
			font-size: 2.5vh;
			font-family: font.$font-textMensaje-200;
			font-weight: 200;
			outline: none;
			border: none;
			background: color.$primary-hora;
			color: white;
			padding: 0 1em;
		}
		& > i {
			position: absolute;
			right: 2%;
			top: 50%;
			transform: translateY(-50%);
			color: pink;
			font-size: 2rem;
			transition: color 300ms ease;
			&:hover {
				color: white;
				cursor: pointer;
			}
		}
	}
}
